
* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

header {
    padding-top: 8px;
	padding-bottom: 8px;
	border: 1px solid #0E9DEE;
	box-shadow: 0px 0px 14px 0px #0E9DEE;
	border-radius: 5px;
    flex-direction: row;
	align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 10px;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

header, ul {
	display: flex;
}

ul {
    list-style: none;
}

ul a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #22DC12;
    font-weight: bolder;
}

ul a:hover {
	font-weight: bolder;
    border-bottom: 2px solid #FFB800;
    color: #0E9DEE;
}

header h1 a {
    background: -webkit-linear-gradient(300deg, #FFB800, #22DC12, #0E9DEE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: smaller;
    font-weight: 800;
}

header h1 a, ul a {
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
}

img {
    margin-top: 30px;
    border: 5px solid #FFB800;
    border-radius: 25px;
    width: 15vh;
}

img:hover {
    width: 20%;
    cursor: pointer;
}

p, h1 {
    cursor: default;
}

.welcome h1 {
    border: 3px solid #0E9DEE;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    width: 25%;
    text-align: center;
    color:#0E9DEE;
    overflow: hidden;
    animation: fadein 2s infinite alternate;
    animation-delay: 2s;
}

.welcome {
    width: 100%;
    height: 50vh;
    background: linear-gradient(to left, #FFB800, #22DC12, #0E9DEE);
    display: flex;
    align-items: center;
    justify-content: center;
} 

.about {
    width: 100vh;
    height: 40vh;
    border: 2px solid #0E9DEE;
    border-radius: 25px;
    margin: 10px 10px;
    padding: 50px 100px;
    box-shadow: 0px 0px 14px 0px #0E9DEE;
    text-align: center;
}

.about h1, .portfolio h1 {
    color:#0E9DEE;
    padding-bottom: 25px;
}

.about p {
    color: #22DC12;
    font-size: medium;
    font-weight: 600;
    animation: fadein2 2s ease-in;
    animation-delay: 2s;
}

.parent, .grid-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    width: 800px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 1rem;
}

.item {
    background-color: #FFB800;
    box-shadow: 0px 0px 14px 0px #FFB800;
    color: #ffffffe6;
    border-radius: 25px;
    border: 6px solid #0E9DEE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.item:hover {
    size: 150%;
}

.item a {
    text-decoration: none;
    color: #0E9DEE;
}

.item a:hover {
    font-weight: bolder;
}

.portfolio {
    width: 100%;
    height: 50vh;
    background: linear-gradient(to left, #FFB800, #22DC12, #0E9DEE);
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio h1 {
    position: absolute;
    bottom: -5vh;
    filter: brightness(150%), contrast(110%);
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1; filter: brightness(150%), contrast(110%);}
}

@keyframes fadein2 {
    from {opacity: 0;}
    to {opacity: 1;}

}