@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1f26;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    text-align: right;
}

nav {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, li {
    color: #03DAC6;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    margin-left: 30px;
    padding: 10px 20px;
    border: 1px solid #03DAC6;
    border-radius: 5px;
}

li {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 10px;
    padding: 20px 20px;
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1)
}

li:hover {
    background-color: #03DAC6;
    color: #1e1f26;
    border-radius: 15px;
}